<p id="notice"><%= notice %></p>

<h2><%= @todo_list.title %></h2>
<p><%= @todo_list.description %></p>

<div id="todo_items_wrapper">
	<table class="table">
	    <thead>
	        <tr>
	            <th>Change Position</th>
	            <th>Mark Complete</th>
	            <th>Description</th>
	            <th>Delete</th>
	        </tr>
	    </thead>
	    <tbody>
	        <%= render @todo_list.todo_items %>
	    </tbody>
	</table>
	<div id="form">
		<%= render "todo_items/form" %>
	</div>
</div>

<%= link_to 'Edit', edit_todo_list_path(@todo_list) %> | 
<%= link_to 'Back', todo_lists_path %>
